/* section {
    font-size: 45px;
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
    justify-content: center;
    margin: 0 auto;
    color: #00a79d;
    text-align: center;
}

; */